<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCiAt6ZtMv1ovH6t0b1YUkAblItLbLuOac</string>
	<key>GCM_SENDER_ID</key>
	<string>362424976977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adminapps</string>
	<key>PROJECT_ID</key>
	<string>ecommerceadmin-91cdd</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerceadmin-91cdd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362424976977:ios:3f0b8f29c607a0e7579a70</string>
</dict>
</plist>